@tailwind base;
@tailwind components;
@tailwind utilities;

/* For smooth horizontal scroll */
.overflow-x-auto {
  scrollbar-width: thin;
  scrollbar-color: #FFC300 #f1f1f1;
}

.overflow-x-auto::-webkit-scrollbar {
  height: 4px;
}

.overflow-x-auto::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.overflow-x-auto::-webkit-scrollbar-thumb {
  background: #FFC300;
  border-radius: 10px;
}

/* For caption text */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}